@page "/leaderboard"
@rendermode InteractiveWebAssembly

<h3>Leaderboard</h3>
<h3>WHOHO</h3>
<h3>Leaderboard</h3>
<h3>Leaderboard</h3>
<h3>Leaderboard</h3>
<h3>Leaderboard</h3>
<h3>Leaderboard</h3>
<h3>Leaderboard</h3>

@code {

}
