@inherits LayoutComponentBase

<main class="relative h-screen bg-primaryBg p-4">
    @* <AuthorizeView> *@
    @*     <Authorized> *@
    @*         <a href="Account/Logout">Log out</a> *@
    @*     </Authorized> *@
    @*     <NotAuthorized> *@
    @*         <RedirectHelper ToPath="/login"/> *@
    @*         $1$ <a href="Account/Login?redirectUri=/">Log in</a> #1# *@
    @*     </NotAuthorized> *@
    @* </AuthorizeView> *@
    
    <article class="">
        @Body
    </article>
    <NavMenu/>
</main>

