


<nav class="absolute bottom-4 left-0 right-0 px-4">
    <div class="mx-auto flex max-w-fit flex-row justify-center gap-2 rounded-lg bg-white p-1">

        <div class="bg-f rounded-lg p-2">
            <FotballIcon />
        </div>

        <div class="rounded-lg bg-primary-100 p-2">
            <FotballIcon />
        </div>
    </div>

</nav>

